[*]

indent_size = 4
tab_width = 8
end_of_line = lf
charset = utf-8
insert_final_newline = true

[GNUmakefile]

indent_style = tab
indent_size = 8
tab_width = 8

[*.py]

indent_style = space
trim_trailing_whitespace = true

[*.sh]

indent_style = tab
trim_trailing_whitespace = true

[*.yml]

indent_style = tab
trim_trailing_whitespace = true
