[*]
indent_style = space
indent_size = 4
tab_width = 8
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.ini]
indent_style = space

[*.py]
indent_style = space

[*.sh]
indent_style = tab

[*.sql]
indent_style = space

[*.yaml]
indent_style = space

[*.yml]
indent_style = space

[Dockerfile]
indent_style = space

[GNUmakefile]
indent_style = tab
indent_size = 8
tab_width = 8
trim_trailing_whitespace = false
