[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
Flask = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyMySQL = "*"
SQLAlchemy = "*"
Werkzeug = "*"
asn1crypto = "*"
cffi = "*"
click = "*"
cryptography = "*"
idna = "*"
itsdangerous = "*"
pycparser = "*"
python-dotenv = "*"
six = "*"

[requires]
python_version = "3.6"
