[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
Click = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
PyMySQL = "*"
SQLAlchemy = "*"
python-decouple = "*"
python-dotenv = "*"

[dev-packages]
docker-compose = "*"
pycodestyle = "*"
pylint = "*"
pylint-sqlalchemy = "*"
pytest = "*"

[scripts]
build = "docker-compose up --build"
drop-db = "python3 -m app drop-db"
init-db = "python3 -m app init-db"
