[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
Flask = "*"
Flask-RESTful = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
PyMySQL = "*"
SQLAlchemy = "*"
python-decouple = "*"
python-dotenv = "*"

[dev-packages]
docker-compose = "*"
pycodestyle = "*"
pylint = "*"
pylint-sqlalchemy = "*"
pytest = "*"

[scripts]
build = "docker-compose up --build"
debug = "flask run --port 5001"
unittest = "python3 -m unittest discover"
