<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.uwsgi</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/opt/uwsgi/bin/uwsgi</string>
        <string>--plugin-dir</string>
        <string>/usr/local/opt/uwsgi/lib/plugin</string>
        <string>/usr/local/etc/opt/stadium-ticket/app.ini</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/usr/local/opt/uwsgi/lib/plugin</string>
  </dict>
</plist>
